html {
  background-color: AntiqueWhite;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  max-width: 30em;
  margin: 0 auto;
}

p {
  margin: 0;
}

.chicle {
  font-family: 'Chicle', cursive;
}

.case {
  margin-top: 5em;
}

.chunk {
  border-top: 20px solid AntiqueWhite;
  border-bottom: 20px solid AntiqueWhite;
  border-left: 40px solid AntiqueWhite;
  border-right: 40px solid AntiqueWhite;
}

.yellow {
  background-color: yellow;
  padding: .5rem;
  border: 3px solid AntiqueWhite;
}

.teal {
  background-color: teal;
  padding: .5rem;
  border: 3px solid AntiqueWhite;
}

.pink {
  background-color: pink;
  padding: .5rem;
  border: 3px solid AntiqueWhite;
}

.orange {
  background-color: orange;
  padding: .5rem;
  border: 3px solid AntiqueWhite;
}

@media only screen and (min-width: 60em) {

  body {
    max-width: 70em;
  }

}
