html {
  background-color: antiquewhite;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  max-width: 30em;
  margin: 0 auto;
}

p {
  margin: 0;
}

.marker {
  font-family: "Permanent Marker", cursive;
}

.case {
  margin-top: 5em;
}

.chunk {
  border-top: 20px solid antiquewhite;
  border-bottom: 20px solid antiquewhite;
  border-left: 40px solid antiquewhite;
  border-right: 40px solid antiquewhite;
}

.yellow {
  background-color: yellow;
  border: 3px solid antiquewhite;
}

.teal {
  background-color: teal;
  border: 3px solid antiquewhite;
}

.pink {
  background-color: pink;
  border: 3px solid antiquewhite;
}

.orange {
  background-color: orange;
  border: 3px solid antiquewhite;
}

@media only screen and (min-width: 60em) {

  body {
    max-width: 70em;
  }

}
