body {
  background-color: AntiqueWhite;
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  margin: 0;
}

.chicle {
  font-family: 'Chicle', cursive;
}

.chunk {
  border-top: 5px solid AntiqueWhite;
  border-bottom: 5px solid AntiqueWhite;
  border-left: 10px solid AntiqueWhite;
  border-right: 10px solid AntiqueWhite;
}

.yellow {
  background-color: yellow;
  padding: .5rem;
  border: 3px solid AntiqueWhite;
}

.teal {
  background-color: teal;
  padding: .5rem;
  border: 3px solid AntiqueWhite;
}

.pink {
  background-color: pink;
  padding: .5rem;
  border: 3px solid AntiqueWhite;
}

.orange {
  background-color: orange;
  padding: .5rem;
  border: 3px solid AntiqueWhite;
}
